{
  "captureformat": "%{@PATTERNS}", 
  "matchconfigs": [
    {
      "action": "%{@LINE}", 
      "breakifmatch": false, 
      "noaction": true, 
      "nomatch": false, 
      "patterns": [
        "%{COALITION_JOB_SUCCES}"
      ], 
      "shell": "stdout"
    }, 
    {
      "action": "%{@LINE}", 
      "breakifmatch": false, 
      "noaction": true, 
      "nomatch": false, 
      "patterns": [
        "%{COALITION_JOB_FAILURE}"
      ], 
      "shell": "stdout"
    }, 
    {
      "action": "%{@LINE}", 
      "breakifmatch": false, 
      "noaction": false, 
      "nomatch": false, 
      "patterns": [
        "%{PYTHON_ERROR}"
      ], 
      "shell": "stdout"
    }
  ], 
  "name": "Log-analyzer"
}